.regForm{
    background-color: #c45454;
    width: 50%;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding: 4vw;
    border-radius: 0vw 5vw;
}

.menuElem{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin: 1.5vw;
}

.regCim{
    font-size: 4vw;
    text-align: right;
    font-weight: bold;
}

.bejCim{
    font-size: 3vw;
    text-align: right;
}

select{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1vw 0vw;
    font-size: 2vw;
}

.bevitelNeve{
    font-size: 2vw;
}

.submitGomb{
    display: flex;
    background-color: rgb(189, 128, 128);
    font-size: 3vw;
    padding: 1vw 5vw;
    width: 100%;
    justify-content: center;
    border-radius: 3vw 0vw;
}

.subGomb{
    display: flex;
    background-color: rgb(189, 128, 128);
    font-size: 2vw;
    padding: 1vw 5vw;
    width: 100%;
    justify-content: center;
    border-radius: 3vw 0vw;
}

.submitGomb:hover{
    background-color: rgb(219, 86, 86);
    transition: background-color 1s;
}

.elemSor{
    margin: 1vw;
}

.kijGomb{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    font-size: 1em;
    padding: 0.5em;
}

.kijGomb:hover{
    color: #000;
    background-color: #ddd;
    border-radius: 0.5em;
}

.error{
    background-color: rgb(255, 47, 47);
    width: 50%;
    font-size: 1.8vw;
    padding: 2vw;
    border-radius: 1vw;
    border: #000 0.5vw solid;
    text-align: center;
}

.teljesBeallitas{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.menuEle select{
    width: 100%;
}

.menuOszlop{
    background-color: #c45454;
    margin: 2vw;
    padding: 2vw;
    border-radius: 2vw 0vw 0vw 2vw;
}

.beallitasiReszletek{
    background-color: #c45454;
    margin: 2vw;
    padding: 2vw;
    border-radius: 0vw 2vw 2vw 0vw;
}

.oszlopElem{
    font-size: 2vw;
    margin: 2vw;
    padding: 1vw;
    text-align: right;
}
.oszlopElem:hover{
    cursor: pointer;
    background-color: #ddd;
}
.oszlopElem:first-child{
    border-radius: 1.5vw 1.5vw 0 0;
}
.oszlopElem:last-child{
    border-radius: 0 0 1.5vw 1.5vw;
}

.beallitasNeve{
    font-size: 2vw;
    margin-bottom: 0vw;
}

.menuEle{
    margin: 0 3vw;
}
.menuEle input{
    width: 100%;
}

.altalnosMentes{
    width: 100%;
    padding: 0.8vw;
    font-size: 1.5vw;
    background-color: #c46d6d;
    margin-top: 3vw;
}
.altalnosMentes:hover{
    background-color: #e69090;
}

.kepConti{
    width: 100%;
    background-color: gray;
    text-align: center;
    border-radius: 0 1vw;
    border: 0.2vw black solid;
}

.profilElolnezet{
    width: 70%;
    margin: 1vw 2vw;
}

.jelszoModCim{
    font-size: 2.5vw;
    text-align: left;
    margin: 1vw;
}

.jelszoMod{
    margin: 1vw;
}

.ujJelszo{
    margin-top: 5vw;
    border: black solid 0.2vw;
    padding-bottom: 3%;
}

.jelszoMentes{
    width: 100%;
    padding: 0.8vw;
    font-size: 1.5vw;
    background-color: #c46d6d;
    margin-top: 3vw;
}
.jelszoMentes:hover{
    background-color: #e69090;
}