.regForm{
    background-color: #c45454;
    width: 60%;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding: 4vw;
    border-radius: 0vw 5vw;
}

.menuElem{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    margin: 1.5vw;
}

.regCim{
    font-size: 4vw;
    text-align: right;
    font-weight: bold;
}

.bejCim{
    font-size: 3vw;
    text-align: right;
}

select{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 1vw 0vw;
    font-size: 2vw;
}

.bevitelNeve{
    font-size: 2vw;
}

.submitGomb{
    display: flex;
    background-color: rgb(189, 128, 128);
    font-size: 3vw;
    padding: 1vw 5vw;
    width: 100%;
    justify-content: center;
    border-radius: 3vw 0vw;
}

.subGomb{
    display: flex;
    background-color: rgb(189, 128, 128);
    font-size: 2vw;
    padding: 1vw 5vw;
    width: 100%;
    justify-content: center;
    border-radius: 3vw 0vw;
}

.submitGomb:hover{
    background-color: rgb(219, 86, 86);
    transition: background-color 1s;
}

.elemSor{
    margin: 1vw;
}