.regForm{
    background-color: #c45454;
    width: 50%;
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    padding: 4vw;
    border-radius: 0vw 5vw;
}

.menuElem{
    display: grid;
    grid-template-columns: 1fr;
    margin: 1.5vw;
}

.regCim{
    font-size: 4vw;
    text-align: center;
    font-weight: bold;
}

.bejCim{
    font-size: 3vw;
    text-align: right;
}

select{
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 2vw;
}

.bevitelNeve{
    font-size: 2vw;
    width: 100%;
    word-break: normal;
}

.submitGomb{
    display: flex;
    background-color: rgb(189, 128, 128);
    font-size: 3vw;
    padding: 1vw 5vw;
    width: 100%;
    justify-content: center;
    border-radius: 0vw 2vw;
}

.subGomb{
    display: flex;
    background-color: rgb(226, 85, 85);
    font-size: 2vw;
    padding: 1vw 5vw;
    width: 100%;
    justify-content: center;
    border-radius: 3vw 0vw;
}
.subGomb:hover{
    background-color: #ffa1a1;
}

.submitGomb:hover{
    background-color: #ffa1a1;
    transition: background-color 1s;
}

.elemSor{
    margin: 1vw;
}

.kijGomb{
    border: none;
    background-color: rgba(255, 0, 0, 0);
    font-size: 1em;
    padding: 0.5em;
}

.kijGomb:hover{
    color: #000;
    background-color: #ffa1a1;
    border-radius: 0.5em;
}

.teljesBeallitas{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.menuEle select{
    width: 100%;
}

.menuOszlop{
    background-color: #c45454;
    margin: 2vw;
    padding: 2vw;
    border-radius: 2vw 0vw 0vw 2vw;
}

.beallitasiReszletek{
    background-color: #c45454;
    margin: 2vw;
    padding: 2vw;
    border-radius: 0vw 2vw 2vw 0vw;
}

.oszlopElem{
    font-size: 2vw;
    margin: 2vw;
    padding: 1vw;
    text-align: right;
}
.oszlopElem:hover{
    cursor: pointer;
    background-color: #ffa1a1;
}
.oszlopElem:first-child{
    border-radius: 1.5vw 1.5vw 0 0;
}
.oszlopElem:last-child{
    border-radius: 0 0 1.5vw 1.5vw;
}

.beallitasNeve{
    font-size: 2vw;
    margin-bottom: 0vw;
}

.menuEle{
    margin: 0 3vw;
}
.menuEle input{
    width: 100%;
    border-radius: 0 1vw;
}

.altalnosMentes{
    width: 100%;
    padding: 0.8vw;
    font-size: 1.5vw;
    background-color: #c46d6d;
    margin-top: 1vw;
}
.altalnosMentes:hover{
    background-color: #ffa1a1;
}

.kepConti{
    width: 100%;
    background-color: gray;
    text-align: center;
    border-radius: 0 1vw;
    border: 0.2vw black solid;
}

.profilElolnezet{
    width: 70%;
    margin: 1vw 2vw;
}

.jelszoModCim{
    font-size: 2.5vw;
    text-align: left;
    margin: auto;
}

.jelszoMod{
    margin: 1vw;
}

.jelszoMentes{
    width: 100%;
    padding: 0.8vw;
    font-size: 1.5vw;
    background-color: #c46d6d;
    margin-top: 3vw;
}
.jelszoMentes:hover, .jelszoMegsem:hover{
    background-color: #ffa1a1;
}

.jelszoMegsem{
    width: 100%;
    padding: 0.8vw;
    font-size: 1.5vw;
    background-color: #c46d6d;
    margin-top: 0.5vw;
}

.altBeCim{
    font-size: 2.5vw;
    text-align: left;
    margin: auto;
}

.hibaUzi{
    background-color: #b86868;
    width: 100%;
    text-align: center;
    border: black solid 1px;
    border-radius: 1vw 1vw 0 0 ;
    font-size: 2vw;
    margin: 0;
}

.jelszoMenu{
    display: flex;
}

.jelszoInfoGomb {
    border: #000 solid 1px;
    width: 3vw;
    height: 3vw; 
    padding: 0;
    border-radius: 50%;
    background-color: #ff8e8e;
    margin: 0;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jelszoInfoGomb:hover{
    background-color:#ffa1a1;
    cursor: pointer;
}

.jelszoInfoSzoveg{
    padding: 1vw;
    border: #000 solid 1px;
    background-color: #b86868;
}

.regHiba{
    padding-left: 1.5vw;
    border: black solid 1px;
    background-color: #b86868;
}

.profilSor{
    display: grid;
    grid-template-columns: 1fr 0.75fr 1fr;
}

.profilSor div{
    padding: 0.5vw;
    border: #000000 1px solid;
    font-size: 1.2vw;
}

.profCimsor div{
    font-weight: bold;
    font-size: 1.5vw;
}

.profilModGomb{
    background-color: rgb(165, 54, 54);
    border: #000 1px solid;
    text-align: center;
}
.profilModGomb:hover{
    cursor: pointer;
    background-color: #ffa1a1;
}

.szuroS{
    border: #000 solid 1px;
}

.szuroCim{
    font-size: 2.3vw;
    margin: 0;
    text-align: right;
    border: #000 solid 1px;
    padding-right: 1vw;
}
.szuroCim:hover{
    background-color: #ffa1a1;
    cursor: pointer;
}

.keresesSor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1vw;
}

.keresesSor *{
    font-size: 1.5vw;
    width: 100%;
    margin: 0.5vw;
}

.keresesGomb{
    background-color: #a83232;
    border: #000 solid 1px;
    text-align: center;
    padding: 1vw;
    margin: 0.5vw;
}
.keresesGomb:hover{
    background-color: #ffa1a1;
    cursor: pointer;
}

.profilkepAM{
    width: 70%;
    margin: auto;
    border: #000 solid 1px;
}

.rszFejlec{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cimsorFelhnev{
    margin: auto;
}

.visszaGomb{
    font-size: 2.3vw;
    margin: 0.5vw 5vw;
    text-align: right;
    border: #000 solid 1px;
    padding-right: 1vw;
}
.visszaGomb:hover{
    background-color: #ffa1a1;
    cursor: pointer;
}

.modSor{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1vw;
    align-items: center;
}

.modSor *{
    width: 100%;
    font-size: 1.5vw;
}

.modCont{
    padding: 1.5vw;
    border: solid;
    border-color: #000;
    border-width: 0px 1px 2px 1px;
}

.profTorlese{
    margin: 3vw;
    padding: 2vw;
    text-align: center;
    border: #000 solid 1px;
}

.torlesGomb{
    border: #000 solid 1px;
    width: 100%;
    background-color: #be2e2e;
}
.torlesGomb:hover{
    background-color: #ffa1a1;
    cursor: pointer;
}

.biztosan{
    margin: 0.5vw;
    padding: 2vw;
    border: white 1px solid;
    background-color: #bb2d2d;
}

.biztGomOK{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vw;
}

.biztGomOK *:hover{
    background-color: #ffa1a1;
    cursor: pointer;
}

.profilkepBeall{
    width: 75%;
    margin: auto;
    border: #000 1px solid;
}

.profilEsCim{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.lenyitosMenu{
    text-align: center;
    padding: 1vw;
    border-radius: 1vw 1vw 0 0;
    border: #000 1px solid;
    margin-top: 1vw;
    background-color: rgba(0, 0, 0, 0.1);
}
.lenyitosMenu:hover{
    background-color: #ffa1a1;
    cursor: pointer;
}

#hibaUz{
    background-color: rgba(202, 119, 119, 0.6);
    padding: 1vw;
    border-radius: 1vw 0;
    border: #000 1px solid;
}


@media (max-width: 767px){
    .bejMenu{
        width: auto;
    }

    .bejCim{
        font-size: 5vw;
    }

    .bevitelNeve, .biztSzoveg, .jelszoInfoSzoveg, .jelszoInfoGomb, .kijGomb, .regHiba, .profilSor div, .keresesSor *, .oszlopElem, .cimsorFelhnev, .baNeve, .modSor *, #hibaUz, .menuElem input{
        font-size: 3vw;
    }

    .elemSor input{
        width: 100%;
        font-size: 3vw;
    }

    .menuElem{
        display: grid;
        grid-template-columns: 1fr;
        margin: 1.5vw;
    }

    .teljesBeallitas, .modSor{
        display: grid;
        grid-template-columns: 1fr;
    }

    .menuOszlop{
        border-radius: 2vw 2vw 0vw 0vw;
    }

    .beallitasiReszletek{
        border-radius: 0vw 0vw 2vw 2vw;
    }

    .profCimsor div{
        font-size: 3.5vw;
    }

    .szuroCim, .lenyitosMenu, .altalnosMentes, .visszaGomb, .torlCim, .torlesGomb, .biztGomOK *, .jelszoModCim, .altBeCim{
        font-size: 4vw;
    }
}

@media (min-width: 768px){
    .bejMenu{
        padding: 0;
    }

    .elemSor{
        width: auto;
    }

    .elemSor input{
        width: 100%;
        font-size: 1vw;
    }

    .subGomb, .biztSzoveg, .jelszoMentes, .jelszoInfoGomb, .regHiba, .bevitelNeve, .jelszoInfoSzoveg, .beallitasNeve, .menuEle select, .menuEle input, .baNeve, #hibaUz, .menuElem input{
        font-size: 1.35vw;
    }

    .submitGomb{
        font-size: 2vw;
    }

    .oszlopElem{
        font-size: 1.2vw;
    }

    .altBeCim, .lenyitosMenu, .altalnosMentes, .biztGomOK *, .jelszoModCim, .bejCim, .cimsorFelhnev, .visszaGomb, .torlCim, .torlesGomb{
        font-size: 2vw;
    }
}

@media (min-width: 2000px){
    .elemSor input{
        width: 100%;
        font-size: 0.8vw;
    }

    .subGomb, .biztSzoveg, .jelszoMentes, .jelszoInfoGomb, .regHiba, .bevitelNeve, .jelszoInfoSzoveg, .beallitasNeve, .menuEle select, .menuEle input, .baNeve, .profilSor div, #hibaUz, .menuElem input, .bevitelNeve, .menuElem select, option{
        font-size: 0.75vw;
    }

    .submitGomb{
        font-size: 0.8vw;
    }

    .oszlopElem{
        font-size: 0.75vw;
    }

    .altBeCim, .lenyitosMenu, .altalnosMentes, .biztGomOK *, .jelszoModCim, .bejCim, .cimsorFelhnev, .visszaGomb, .torlCim, .torlesGomb, .szuroCim, .profCimsor div, .regCim{
        font-size: 1vw;
    }

    .profilkepBeall, .profilkepAM{
        width: 50%;
    }

    .regForm{
        padding: 1vw;
        border-radius: 0 2vw;
    }

    input, select, .menuEle input{
        width: 100%;
        border-radius: 0 0.5vw;
    }

    .jelszoInfoGomb{
        height: 2vw;
        width: 2vw;
    }
}