.conti{
    background-color: rgba(167, 143, 143, 0.6); 
    border: 0.2vw rgba(114, 54, 54, 0.8) solid;
    padding: 3.5vw;
    border-radius: 2vw;
    margin: auto;
}

.teljes{
    margin: 10vw;
}

.tipCim{
    font-size: 5vw;
    margin-top: 1vw;
}

.gorg{
    margin-top: 10vw;
}

.elemNeve, .elemErteke{
    font-size: 2.5vw;
}

@media (max-width: 767px){
    .tipCim{
        font-size: 8vw;
    }

    .elemNeve, .elemErteke{
        font-size: 4vw;
    }

    .sor{
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1500px){
    .teljes{
        width: 80%;
        margin: auto;
    }

    .conti{
        width: 75%;
    }

    .tipCim{
        font-size: 2.5vw;
    }
}