.row{
  display: flex;
  justify-content: center;
  gap: 1vw;
  margin: 1vw;
}

.jobbOszlop{
  justify-content: center;
}

.balOszlop{
  background-color: rgba(196, 84, 84, 0.8);
  border-radius: 2vw 0;
}

.megnincs{
  font-size: 1.6vw;
}

.reg{
  display: grid;
  font-size: 1.6vw;
  text-decoration: none;
  color: rgb(54, 54, 54);
  justify-content: right;
  font-weight: bold;
}

.bejMenu{
  padding: 2vw;
}


@media (max-width: 767px) {
  .ketOszlop {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2vw;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
  }

  .szoveg {
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
  }

  .balOszlop{
    padding: 1vw;
  }

  .megnincs, .reg{
    font-size: 1vw;
  }

  .szoveg{
    padding: 5vw;
    font-size: 5vw;
  }

  .megnincs, .reg{
    font-size: 2.5vw;
  }
}

@media (min-width: 768px) {
  .ketOszlop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
  }

  .szoveg {
    font-size: 1.1rem;
    line-height: 1.5;
    text-align: justify;
  }

  .balOszlop{
    padding: 1vw;
  }

  .megnincs, .reg{
    font-size: 1vw;
  }
}

@media (min-width: 1500px){
  .szoveg {
    font-size: 1vw;
    margin: 1vw;
  }
}