.combi_delete
{
    font-size: large;
    border-radius: 20px;
    height: 2vw;
    width: 300px;
    text-align: center;
    text-align-last: center; 
    display: block;
}
.titles_delete
{
    text-align: left;
    margin-top: 0vw;
    margin-bottom: 0vw;
    margin-right: 0vw;  
    padding:0vw;
    font-size: 1vw;
}
#delete_adatlekerogomb
{
    display: flex;
    flex-direction: column;
    width: 100%;

    margin-bottom: 1.5vw;
    /*margin-left: 25px*/

}
.adatok_delete
{
  border-bottom: 10px solid transparent;
  padding: 15px;
  border-image: url(border.png) 30 round;
  font-size: large;
  width: 18vw;
  margin-left: 5vw;
}
/*-------------------------RESZPONZIVITÁS @MEDIA-VAL-------------------------------------*/
/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    .combi_delete
    {
        font-size: large;
        border-radius: 20px;
        height: 2vw;
        width: 300px;
        text-align: center;
        text-align-last: center; 
        display: block;
    }
    .titles_delete
    {
        text-align: left;
        padding:0vw;
        font-size: 3vw;
        font-weight: bold;
    }
    #delete_adatlekerogomb
    {
      width: 100%;
        padding: 2%;
        margin-top: 5%;
        margin-bottom: 1.5vw;
        margin-left: 17%;
        font-size: medium;
    
    }
    .adatok_delete
    {
      border-bottom: 10px solid transparent;
      padding: 15px;
      border-image: url(border.png) 30 round;
      font-size: large;
      width: 18vw;
      margin-left: 5vw;
    }
      #delete_form
      {
      flex-direction: column;
      width: 300px;
      }
    
      #legordulos_option
      {
        font-size: large;
        font-weight: bold;
      }
    
      .combi_delete
      {
        width: 100%;
        margin-top: 1%;
        font-size: medium;
        border-radius: 20px;
        height: 4vw;
        text-align: center;
        text-align-last: center; 
      }
    
    #delete_adatkezelogomb
      {
        padding: 3%;
        font-size: medium;
        width: 100%;
      }
      /*-------------------------KILISTÁZOTT ADATOK CSS RÉSZE------------------------*/
      #contents
      {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .adatok_delete
    {
      border-bottom: 10px solid transparent;
      padding: 15px;
      border-image: url(border.png) 30 round;
      font-size: large;
      width: 50%;
    }
    /*-----------------------------HÁROM GOMB--------------------------------------*/
    #buttons_content
    {
      display: flex;
      flex-direction: row;
      margin-top: 5%;
    }
             /*-----------ALAPLAP CSATLAKOZÓK------------------------*/
  .delete_titles_csati
  {
    width: max-content;
    text-align: left;
    font-size: large;
    font-weight: bold;
    margin-top: 2%;
    margin-right: 0vw; 
    margin-bottom: 0vw;
    padding:0vw;
  }
  .combi_delete_csati
  {
    width: 280px;
    margin-top: 1%;
    font-size: medium;
    border-radius: 20px;
    height: 5vw;
    text-align: center;
    text-align-last: center; 
  }

  #delete_adatkezelogomb_csati
  {
    width: 140%;
    height: 5%;
    padding-right: 1vw;
    margin-left: 0%;
    padding: 7%;
    margin-right: 1%;
    margin-top: 2vw;
    font-size: medium;
    border-radius: 0% 30%;
    background-color: rgba(194, 52, 52, 0.8);
    color: black;
  }
  #delete_adatlekerogomb_csati
  {
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 1.5vw;
    margin-left: 35%;
    font-size: medium;
    width: 100%;
  }
  #delete_form_csati
  {
    flex-direction: column;
    width: 200px;
    margin-top: 5%;
  }
  #contentsCsati
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    width:100%;
    margin-top: 6%;
  }
  #buttons_content_csati_delete
  {
    display: flex;
    flex-direction: row;
    margin-top: 7%;
    padding-left: 30%;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (min-width: 600px) {
    .combi_delete
    {
        font-size: large;
        border-radius: 20px;
        height: 2vw;
        width: 300px;
        text-align: center;
        text-align-last: center; 
        display: block;
    }
    .titles_delete
    {
        text-align: left;
        padding:0vw;
        font-size: 2vw;
        font-weight: bold;
    }
    #delete_adatlekerogomb
    {
      width: 100%;
        padding: 2%;
        margin-top: 5%;
        margin-bottom: 1.5vw;
        /*margin-left: 17%;*/
        font-size: medium;
    
    }
    .adatok_delete
    {
      border-bottom: 10px solid transparent;
      padding: 15px;
      border-image: url(border.png) 30 round;
      font-size: large;
      width: 18vw;
      margin-left: 5vw;
    }
    /*-------------------------RESZPONZIVITÁS @MEDIA-VAL-------------------------------------*/
      #delete_form
      {
      flex-direction: column;
      width: 300px;
      }
    
      #legordulos_option
      {
        font-size: large;
        font-weight: bold;
      }
    
      .combi_delete
      {
        width: 100%;
        margin-top: 1%;
        font-size: medium;
        border-radius: 20px;
        height: 4vw;
        text-align: center;
        text-align-last: center; 
      }
    
    #delete_adatkezelogomb
      {
        padding: 3%;
        font-size: medium;
        width: 100%;
      }
      /*-------------------------KILISTÁZOTT ADATOK CSS RÉSZE------------------------*/
      #contents
      {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .adatok_delete
    {
      border-bottom: 10px solid transparent;
      padding: 15px;
      border-image: url(border.png) 30 round;
      font-size: large;
      width: 50%;
    }
    /*-----------------------------HÁROM GOMB--------------------------------------*/

    #buttons_content
    {
      display: flex;
      flex-direction: row;
      margin-top: 5%;
    }
         /*-----------ALAPLAP CSATLAKOZÓK------------------------*/
  .delete_titles_csati
  {
    width: max-content;
    text-align: left;
    font-size: large;
    font-weight: bold;
    margin-top: 2%;
    margin-right: 0vw; 
    margin-bottom: 0vw;
    padding:0vw;
  }
  .combi_delete_csati
  {
    width: 280px;
    margin-top: 1%;
    font-size: medium;
    border-radius: 20px;
    height: 5vw;
    text-align: center;
    text-align-last: center; 
  }

  #delete_adatkezelogomb_csati
  {
    width: 140%;
    height: 5%;
    padding-right: 1vw;
    margin-left: 0%;
    padding: 7%;
    margin-right: 1%;
    margin-top: 2vw;
    font-size: medium;
    border-radius: 0% 30%;
    background-color: rgba(194, 52, 52, 0.8);
    color: black;
  }
  #delete_adatlekerogomb_csati
  {
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 1.5vw;
    margin-left: 35%;
    font-size: medium;
    width: 100%;
  }
  #delete_form_csati
  {
    flex-direction: column;
    width: 200px;
    margin-top: 5%;
  }
  #contentsCsati
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    width:100%;
    margin-top: 6%;
  }
  #buttons_content_csati_delete
  {
    display: flex;
    flex-direction: row;
    margin-top: 7%;
    padding-left: 30%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
    .titles_delete
    {
        width: 100%;
        text-align: left;
        padding:0vw;
        font-size: 1.5vw;
        font-weight: bold;
    }
    #delete_adatlekerogomb
    {
        padding: 3%;
        margin-top: 5%;
        margin-bottom: 1.5vw;
        font-size: 1.5vw;
        width: 100%;
    
    }
    .adatok_delete
    {
      border-bottom: 10px solid transparent;
      padding: 15px;
      border-image: url(border.png) 30 round;
      font-size: large;
      width: 18vw;
      margin-left: 5vw;
    }
    /*-------------------------RESZPONZIVITÁS @MEDIA-VAL-------------------------------------*/
      #delete_form
      {
      flex-direction: column;
      width: 200px;
      }
    
      #legordulos_option
      {
        font-size: large;
        font-weight: bold;
      }
    
      .combi_delete
      {
        width: 100%;
        margin-top: 1%;
        font-size: medium;
        border-radius: 20px;
        height: 3vw;
        text-align: center;
        text-align-last: center; 
      }
    
    #delete_adatkezelogomb
      {
        padding: 3%;
        font-size: medium;
      }
      /*-------------------------KILISTÁZOTT ADATOK CSS RÉSZE------------------------*/
      #contents
      {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 5%;
      }
      .adatok_delete
    {
      border-bottom: 10px solid transparent;
      padding: 15px;
      border-image: url(border.png) 30 round;
      font-size: large;
      width: 70%;
    }
    /*-----------------------------HÁROM GOMB--------------------------------------*/

    
    #buttons_content
    {
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      padding-left: 10%;
    }
      /*-----------ALAPLAP CSATLAKOZÓK------------------------*/
  .delete_titles_csati
  {
    width: max-content;
    text-align: left;
    font-size: large;
    font-weight: bold;
    margin-top: 2%;
    margin-right: 0vw; 
    margin-bottom: 0vw;
    padding:0vw;
  }
  .combi_delete_csati
  {
    width: 250px;
    margin-top: 1%;
    font-size: large;
    border-radius: 20px;
    height: 3vw;
    text-align: center;
    text-align-last: center; 
  }

  #delete_adatkezelogomb_csati
  {
    width: 125%;
    height: 5%;
    padding-right: 1vw;
    margin-left: 0%;
    padding: 7%;
    margin-right: 1%;
    margin-top: 2vw;
    font-size: medium;
    border-radius: 0% 30%;
    background-color: rgba(194, 52, 52, 0.8);
    color: black;
  }
  #delete_adatlekerogomb_csati
  {
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 1.5vw;
    margin-left:25%;
    font-size: medium;
    width: 100%;
  }
  #delete_form_csati
  {
    flex-direction: column;
    width: 200px;
    margin-top: 30%;
  }
  #contentsCsati
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    width:35%;
    margin-top: 6%;
  }
  #buttons_content_csati_delete
  {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-left: 0%;
    padding-left: 10%;
  }
  /*.torzscsati
  {
    margin-top: 10%;
  }*/
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .titles_delete
    {
        width: 100%;
        text-align: left;
        padding:0vw;
        font-size: 1.5vw;
        font-weight: bold;
    }
    #delete_adatlekerogomb
    {
        padding: 3%;
        margin-top: 5%;
        margin-bottom: 1.5vw;
        font-size: 1.5vw;
        width: 100%;
    
    }
    .adatok_delete
    {
      border-bottom: 10px solid transparent;
      padding: 15px;
      border-image: url(border.png) 30 round;
      font-size: large;
      width: 18vw;
      margin-left: 5vw;
    }
      #delete_form
      {
      flex-direction: column;
      width: 200px;
      }
    
      #legordulos_option
      {
        font-size: large;
        font-weight: bold;
      }
    
      .combi_delete
      {
        width: 100%;
        margin-top: 1%;
        font-size: medium;
        border-radius: 20px;
        height: 3vw;
        text-align: center;
        text-align-last: center; 
      }
    
    #delete_adatkezelogomb
      {
        padding: 3%;
        font-size: medium;
      }
      /*-------------------------KILISTÁZOTT ADATOK CSS RÉSZE------------------------*/
      #contents
      {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 5%;
      }
      .adatok_delete
    {
      border-bottom: 10px solid transparent;
      padding: 15px;
      border-image: url(border.png) 30 round;
      font-size: large;
      width: 70%;
    }
    /*-----------------------------HÁROM GOMB--------------------------------------*/

    
    #buttons_content
    {
      display: flex;
      flex-direction: column;
      margin-top: 5%;
      padding-left: 10%;
    }

    /*-----------ALAPLAP CSATLAKOZÓK------------------------*/
  .delete_titles_csati
  {
    width: max-content;
    text-align: left;
    font-size: large;
    font-weight: bold;
    margin-top: 2%;
    margin-right: 0vw; 
    margin-bottom: 0vw;
    padding:0vw;
  }
  .combi_delete_csati
  {
    width: 250px;
    margin-top: 1%;
    font-size: large;
    border-radius: 20px;
    height: 3vw;
    text-align: center;
    text-align-last: center; 
  }

  #delete_adatkezelogomb_csati
  {
    width: 125%;
    height: 5%;
    padding-right: 1vw;
    margin-left: 0%;
    padding: 7%;
    margin-right: 1%;
    margin-top: 2vw;
    font-size: medium;
    border-radius: 0% 30%;
    background-color: rgba(194, 52, 52, 0.8);
    color: black;
  }
  #delete_adatlekerogomb_csati
  {
    padding: 5%;
    margin-top: 5%;
    margin-bottom: 1.5vw;
    margin-left:25%;
    font-size: medium;
    width: 100%;
  }
  #delete_form_csati
  {
    flex-direction: column;
    width: 200px;
    margin-top: 30%;
  }
  #contentsCsati
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    width:35%;
    margin-top: 6%;
  }
  #buttons_content_csati_delete
  {
    display: flex;
    flex-direction: column;
    margin-top: 7%;
    margin-left: 0%;
    padding-left: 10%;
  }
  /*.torzscsati
  {
    margin-top: 10%;
  }*/
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .titles_delete
    {
        width: 100%;
        text-align: left;
        padding:0vw;
        font-size: 1vw;
        font-weight: bold;

    }
    #delete_adatlekerogomb
    {
        padding: 4%;
        margin-top: 5%;
        margin-bottom: 1.5vw;
        font-size: medium;
        width: 100%;
    
    }
    .adatok_delete
    {
      border-bottom: 10px solid transparent;
      padding: 15px;
      border-image: url(border.png) 30 round;
      font-size: large;
      width: 18vw;
      margin-left: 5vw;
    }
      #delete_form
      {
      flex-direction: column;
      width: 200px;
      }
    
      #legordulos_option
      {
        font-size: large;
        font-weight: bold;
      }
    
      .combi_delete
      {
        width: 120%;
        margin-top: 1%;
        font-size: medium;
        border-radius: 20px;
        height: 3vw;
        text-align: center;
        text-align-last: center; 
      }
    
    #delete_adatkezelogomb
      {
        width: 120%;
        padding: 8%;
        font-size: medium;
        margin-left: 0%;
      }
      /*-------------------------KILISTÁZOTT ADATOK CSS RÉSZE------------------------*/
      #contents
      {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 5%;
      }
      .adatok_delete
    {
      border-bottom: 10px solid transparent;
      padding: 15px;
      border-image: url(border.png) 30 round;
      font-size: large;
      width: 70%;
    }
    /*-----------------------------HÁROM GOMB--------------------------------------*/  
    #buttons_content
    {
      display: flex;
      flex-direction: column;
      margin-top: 3%;
      padding-left: 10%;
    }

    /*-----------ALAPLAP CSATLAKOZÓK------------------------*/
  .delete_titles_csati
  {
    width: max-content;
    text-align: left;
    font-size: large;
    font-weight: bold;
    margin-top: 2%;
    margin-right: 0vw; 
    margin-bottom: 0vw;
    padding:0vw;
  }
  .combi_delete_csati
  {
    width: 300px;
    margin-top: 1%;
    font-size: large;
    border-radius: 20px;
    height: 3vw;
    text-align: center;
    text-align-last: center; 
  }

  #delete_adatkezelogomb_csati
  {
    width: 150%;
    height: 5%;
    padding-right: 1vw;
    margin-left: 0%;
    padding: 7%;
    margin-right: 1%;
    margin-top: 2vw;
    font-size: medium;
    border-radius: 0% 30%;
    background-color: rgba(194, 52, 52, 0.8);
    color: black;
  }
  #delete_adatlekerogomb_csati
  {
    padding: 7%;
    margin-top: 5%;
    margin-bottom: 1.5vw;
    margin-left:25%;
    font-size: medium;
  }
  #delete_form_csati
  {
    flex-direction: column;
    width: 200px;
    margin-top: 30%;
  }
  #contentsCsati
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 5%;
    width:30%;
    margin-top: 5%;
  }
  #buttons_content_csati_delete
  {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    margin-left: 0%;
    padding-left: 5%;
  }
}