/*Az egész oldal szelektora*/
.body
{
  display: flex;
  flex-direction: row;
}
/*Navigációs sáv szelektorai*/
.navbars {
    display: flex;
    justify-content: center;
    gap: 1em;
    padding: 0.8em;
    background-color: #c45454;
    position: sticky;
    top: 0;
    width: auto;
    -ms-zoom-animation: 1000;
    z-index: 1000;
  }
  
  .navbars a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 0.5em; 
  }
  
  .navbars a:hover {
    background-color: #d1d1d1;
  }
  
  @media (max-width: 767px) {
    .navbars {
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
      width: auto;
    }
  
    .navbars a {
      font-size: 1em;
      width: 100%;
      text-align: center; 
    }
  }

  /*Összes gomb formázási szelektorai*/
  .buttons
  {
    padding: 1vw 2vw;
    margin-right: 1%;
    margin-left: 1vw;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    font-size: 1vw;
    border-radius: 0% 30%;
    background-color: rgba(194, 52, 52, 0.8);
    color: black;   
  }
  .positions
  {
    float: right;
  }
  /*Legördülő lista szelektora*/
  
/*Gomb inaktív állapotának szelektora*/
  button:disabled
  {
    background-color: rgb(58, 55, 55);
  }

  /*Azon mezőket összefoglaló div amely tartalmazza az input mezőket*/
  .inputok
  {
    display: flex;
    flex-direction: row;
  }
  /*Alaplapnál a csatlakozó kiválasztó select*/
  #AlaplapPost8
  {
    width: max-content;
    text-align: left;
    margin-left:3.7vw;
    height: 5vw;
    appearance: none;
    margin-top: 0.5vw;
    border-radius: 10px;
  }
  #csatik
  {
    font-size: large;
  }
  #csatik:hover
  {
    background-color: rgba(221, 114, 114, 0.8);
  }
  /*A három gomb (új, frissít, töröl) div-jének szelektora*/
  #buttons_content_post
  {
    display: flex;
    flex-direction: column;
    margin-left: 15vw;
    float: right;
    align-items: flex-end;
  }
  

#post_adatkezelogomb
{
  width: 50%;
  margin-left: 15%;
}

/*A képfeltöltő gomb és a mellettelévő tartalom formázása*/
.elrejtes {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  overflow: hidden;
}
 
/*Fájlfeltöltő gomb szelektora*/
.imgbutton
  {
    padding: 0.5vw 1vw;
    padding-left: none;
    margin-right: 1%;
    margin-left: none;
    margin-top: 1vw;
    margin-bottom: 0.3vw;
    font-size: 1vw;
    border-radius: 0% 30%;
    background-color: rgba(194, 52, 52, 0.8);
    color: black;
    word-break: normal;
    
  }

.filename 
{
  padding: 0.5vw 1vw;
  margin-right: 1%;
  margin-left: 0.5vw;
  margin-top: 1vw;
  margin-bottom: 0.3vw;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 1vw 0vw;
  font-size: 1.5vw;
}
/*Beviteli mezők formázása*/
.beviteli_mezok
{
  width: 300px;
  font-size: large;
  margin-left:3.7vw;
  height: 1.8vw;
}
#post_form
{
  display: flex;
  flex-direction: column;
  width: 28vw;
}
#post_titles
{
  text-align: left;
  font-size: 1.5vw;
  margin-left: 3.7vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
  margin-right: 0vw;  
  padding:0vw;
  font-size: 1vw;
}
.select_buttons
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: max-content;
}
#post_img
{
  width: 150px;
  font-size: large;
  margin-left:3.7vw;
  height: 1.8vw;
  padding-right: 1vw;
  padding-top: 1vw;
}
#post_img_link
{
  width: 300px;
  font-size: large;
  margin-left:3.7vw;
  height: 1.8vw;
  padding-right: 0vw;
}
#radiobtn
{
  margin-left: 3.7vw;
  display: "flex";
  flex-direction: "row";
  align-items: "center";
  gap: "8px";
}
label
{
  font-size: large;
}
/* Alapértelmezett rádiógomb */
input[type="radio"] {
  accent-color: rgba(194, 52, 52, 0.8);
}
