.kartyak {
  display: flex;
  margin-top: 1vw;
  gap: 1em;
  flex-flow: row;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.kartyaKeret{
  padding: 1.5vw;
  background-color: rgba(206, 86, 86, 0.678);
  border: 0.5vw solid rgba(194, 52, 52, 0.4);
  border-radius: 1vw;
  margin: 0;
  width: 10vw;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.kartyaKeret:hover{
  background-color: rgba(179, 50, 50, 0.808);
  border-color: rgb(168, 109, 109);
  transform: translateY(-0.5vw);
}

.kartyaLogo{
  border-radius: 200vw;
  border: black 1px solid;
  width: 80%;
}

.appNeve{
  font-size: 3vw;
  font-weight: bold;
}

h5.katNeve{
  font-size: 2vw;
}

button:hover{
  cursor: pointer;
}

.reszletG{
  padding: 1vw 2vw;
  margin-right: 1%;
  margin-left: auto;
  margin-top: 1vw;
  margin-bottom: 0.3vw;
  font-size: 1.5vw;
  border-radius: 0% 30%;
  background-color: rgba(194, 52, 52, 0.8);
  color: black;
  word-break: normal;
}
.reszletG:hover{
  background-color: rgba(216, 108, 108, 0.8);
}

@media (max-width: 767px){
  #kartyak{
    margin-bottom: 8vw;
  }

  .appNeve{
    font-size: 5vw;
    font-weight: bold;
  }
  
  .katNeve{
    font-size: 4vw;
  }

  .reszletG{
    font-size: 3vw;
  }

  .kartyaKeret{
    width: 20vw;
  }
}

@media (min-width: 768px){
  .alKorKepKeret{
    width: 15vw;
  }
}

@media (min-width: 1500px){
  .kartyaLogo{
    width: 60%;
  }
  
  .appNeve{
    font-size: 1vw;
    font-weight: bold;
  }
  
  .reszletG{
    font-size: 0.8vw;
    padding: 1vw;
    margin:0vw;
  }
}

@media (min-width: 2500px){
  .appNeve{
    font-size: 0.8vw;
    font-weight: bold;
  }
  
  .reszletG{
    font-size: 0.5vw;
    padding: 1vw;
    margin:0vw;
  }
}