.kovetelm{
    background-color: rgba(167, 143, 143, 0.6);
    border: 0.2vw rgba(114, 54, 54, 0.8) solid;
    margin: 2vw;
    padding: 3.5vw;
    border-radius: 2vw;
}

.teljesReszletMenu{
    border: 0.2vw rgba(114, 54, 54, 0.8) solid;
}

.sor{
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    border-bottom: 1px rgba(114, 54, 54, 0.8) solid;
}

.sorCime{
    font-size: 3vw;
}

.megnev{
    font-size: 1.5vw;
}

.tovabbi{
    padding: 1vw 2vw;
    margin-right: 1%;
    margin-left: auto;
    margin-top: 1vw;
    margin-bottom: 0.3vw;
    font-size: 1.5vw;
    border-radius: 0% 30%;
    background-color: rgba(184, 70, 70, 0.8);
    color: black;
}
.tovabbi:hover{
    background-color: rgb(184, 70, 70);
}

h1{
    font-size: 4vw;
    margin: 0;
}

@media (max-width: 767px){
    .sorCim{
        font-size: 5vw;
        grid-column: 1 / -1;
        margin-bottom: 0;
    }

    .sorfCime{
        font-size: 3vw;
        margin: 0;
    }

    .sor {
      display: grid;
      grid-template-columns: 7fr 3fr;
    }

    .megnev {
      grid-column: 1 / 2;
      font-size: 3vw;
    }

    .sorTartalom{
        font-size: 3vw;
    }
    
    .tovabbi {
      grid-column: 2 / 3;
      text-align: center;
      font-size: 3vw;
      padding: 0.5vw 1vw;
      width: 100%;
    }

    h1{
        font-size: 6vw;
    }    
}

@media (min-width: 1500px){
    .tovabbi{
        word-break: normal;
        font-size: 0.8vw;
    }

    .sorfCime, .megnev{
        font-size: 1vw;
    }
}

@media (min-width: 2500px){
    .tovabbi{
        word-break: normal;
        font-size: 0.5vw;
    }

    .sorfCime, .megnev{
        font-size: 0.8vw;
    }

}