body{
  margin: 0;
  background-color: rgb(61, 61, 61);
  overflow-x: hidden;
  color: black;

  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}

.App{
  display: grid;
}

.ndp{
  display: none;
}

h2{
  font-weight:normal;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: rgb(216, 74, 74); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #e93030; 
}

input {
  padding-left: 1vw;
  padding-right: 1vw;
  box-sizing: border-box;
}

.gombDiv{
  margin-top: 2vw;
}

.Tartalmak *{
  transition: background-color 1s, border-color 1s;
}

@media (max-width: 767px){
  .Tartalmak{
    margin: auto;
    margin-bottom: 20vw;
  }
}

@media (min-width: 768px){
  .Tartalmak{
    width: 70%;
    margin: auto;
    margin-bottom: 10vw;
  }

  .Tartalmak *{
    transition: background-color 1s, border-color 1s;
  }
}

@media (min-width: 1500px){
  .Tartalmak{
    width: 60%;
    margin: auto;
    margin-bottom: 10vw;
  }
}
