.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0em;
  background-color: #c45454;
  display: flex;
  z-index: 1000;
}

.footer-links {
  display: flex;
  gap: 1em;
}

.footer a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 1em;
  padding: 0.5em;
}

.footer a:hover {
  color: #000;
  background-color: #ffa1a1;
  border-radius: 0.5em;
}

.footContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footProfil {
  padding-left: 2vw;
  text-align: left;
  display: flex;
}

.footMenu {
  text-align: right;
}

.profilkep{
  height: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-right: 1em;
  border: #000 solid 1px;
}

.felhnev{
  font-size: 1.5em;
  padding: 0;
  margin: 0;
  margin-top: 0.5em;
}

@media (max-width: 767px){
  .footer a{
    font-size: 2.5vw;
  }

  .profilkep{
    height: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-right: 1em;
  }
  
  .felhnev{
    font-size: 1em;
    padding: 0;
    margin: 0;
    margin-top: 0.5em;
  }
}

@media (min-width: 1500px){
  .footer a {
    font-size: 1em;
  }
}